.javascript-app {
  padding: 20px;
  &:before {
    content: "I am from CSS in JavaScriptApp.scss";
    color: maroon;
    font-size: 22px;
    line-height: 30px;
    font-family: "Courier New", Courier, monospace;
  }
}
